:root {
  /* colors */
  --green-color: #0a2427;
  --red-color: #d60000;
  --off-white-color: #faf9f1;

  /* fonts */
  --fs-xl: 4.5rem;
  --fs-l: 4rem;
  --fs-m: 2rem;
  --fs-s: 1.5rem;
  --fs-xs: 1rem;
}

@media only screen and (min-width: 800px) {
  :root {
    /* fonts */
    --fs-xl: 6rem;
    --fs-l: 5rem;
    --fs-m: 2.5rem;
    --fs-s: 1.5rem;
    --fs-xs: 1.2rem;
  }
}

@media only screen and (min-width: 980px) {
  :root {
    /* fonts */
    --fs-xl: 7rem;
    --fs-l: 6rem;
    --fs-m: 3rem;
    --fs-s: 1.5rem;
    --fs-xs: 1.2rem;
  }
}

@media only screen and (min-width: 1180px) {
  :root {
    /* fonts */
    --fs-xl: 9rem;
    --fs-l: 8rem;
    --fs-m: 4.5rem;
    --fs-s: 2rem;
    --fs-xs: 1.5rem;
  }
}

@media only screen and (min-width: 1460px) {
  :root {
    /* fonts */
    --fs-xl: 10rem;
    --fs-l: 10rem;
    --fs-m: 5.5rem;
    --fs-s: 2.5rem;
    --fs-xs: 1.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Libre Baskerville", sans-serif;
  background-color: var(--green-color);
  color: var(--off-white-color);
}
/** UTILITY CLASSES */

/* fonts */
.h1-fs {
  font-size: var(--fs-xl);
}

.h2-fs {
  font-size: var(--fs-l);
}

.h3-fs {
  font-size: var(--fs-m);
}

.h4-fs {
  font-size: var(--fs-s);
}

.p-fs {
  font-size: var(--fs-xs);
}

.green-text {
  color: var(--green-color);
}

.title-font {
  font-family: "Playfair Display", serif;
}

.center-text {
  text-align: center;
}

.margin0 {
  margin: 0;
}

/* display */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.full-screen {
  height: 100vh;
}

/* images */
.box-shadow {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

/* link styles */

a {
  text-decoration: none;
}

/* HERO STYLES */

.pic {
  display: none;
}

.main-pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-portrait-image {
  margin: 4rem auto;
  width: 14rem;
  position: relative;
  transform: translateY(-200rem);
  animation: drop 1.2s forwards;
}

.hero::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
  height: 100px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.433), #0a242700);
  transform: skewY(5deg);
}

@media only screen and (min-width: 800px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero {
    padding-bottom: 12rem;
  }
  .hero-text {
    text-align: right;
  }

  .hero-images {
    margin-left: 2rem;
  }

  .main-portrait-image {
    width: 20rem;
    animation-delay: 1.2s;
  }

  .background-images {
    position: relative;
  }

  .pic {
    display: block;
    position: absolute;
    width: 15rem;
  }

  .camera-pic {
    top: -8rem;
    transform: translateY(-200rem);
    animation: drop3 0.8s forwards;
  }

  .cliff-pic {
    top: 20rem;
    left: -1rem;
    transform: translateY(-200rem);
    animation: drop2 1s forwards;
    animation-delay: 0.5s;
    /* margin-left: 3rem; */
  }

  .bike-pic {
    top: 3rem;
    left: -5rem;
    transform: translateY(-200rem);
    animation: drop3 1s forwards;
    animation-delay: 0.8s;
  }

  .hero::after {
    bottom: -180px;
  }
}

@media only screen and (min-width: 1260px) {
  .main-portrait-image {
    width: 25rem;
  }

  .pic {
    width: 20rem;
  }
}
/* IMAGE ANIMATIONS */

@keyframes drop {
  0% {
    transform-origin: -200rem;
    opacity: 1;
  }
  20% {
    transform: translate3d(0, 20px, 0) rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%,
  45% {
    transform: translate3d(0, -20px, 0) rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: rotate(-10deg);
  }
}

@keyframes drop2 {
  0% {
    transform-origin: -200rem;
    opacity: 1;
  }
  20% {
    transform: translate3d(0, 20px, 0) rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%,
  45% {
    transform: translate3d(0, -20px, 0) rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: rotate(10deg);
  }
}

@keyframes drop3 {
  0% {
    transform-origin: -200rem;
    opacity: 1;
  }
  20% {
    transform: translate3d(0, 20px, 0) rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%,
  45% {
    transform: translate3d(0, -20px, 0) rotate3d(0, 0, 1, 10deg);
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: rotate(-5deg);
  }
}

/* SVG STYLES */

.tache-right,
.tache-left,
.horn-right,
.horn-left,
.glasses {
  position: absolute;
}

.tache-right-path,
.tache-left-path,
.horn-right-path,
.horn-left-path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 0.5s linear forwards;
}

.tache-right {
  top: 7.25rem;
  left: 8.25rem;
  width: 2.5rem;
  transform: rotate(-30deg);
}

.tache-right-path {
  animation-delay: 4s;
}

.tache-left {
  top: 7.75rem;
  left: 5rem;
  width: 2.5rem;
  transform: rotate(18deg);
}

.tache-left-path {
  animation-delay: 4.8s;
}

.horn-right {
  top: 1.5rem;
  left: 9.5rem;
  width: 1.5rem;
  transform: rotate(5deg);
}

.horn-right-path {
  animation-delay: 5.5s;
}

.horn-left {
  top: 1.5rem;
  left: 4.5rem;
  width: 1.5rem;
  transform: rotate(-10deg);
}

.horn-left-path {
  animation-delay: 6.3s;
}

.glasses {
  top: 5rem;
  left: 5.5rem;
  width: 4.75rem;
  transform: rotate(-10deg);
}

.glasses-path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 1s linear forwards;
  animation-delay: 7s;
}

/* SVG ANIMATION */

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media only screen and (min-width: 800px) {
  .tache-right {
    top: 10.5rem;
    left: 12rem;
    width: 3rem;
  }

  .tache-left {
    top: 11rem;
    left: 8rem;
    width: 3rem;
  }

  .horn-right {
    left: 14rem;
    width: 3rem;
  }

  .horn-left {
    top: 2.25rem;
    left: 5rem;
    width: 3rem;
  }

  .glasses {
    top: 7rem;
    left: 7.75rem;
    width: 7rem;
  }
}

@media only screen and (min-width: 1260px) {
  .tache-right {
    top: 13rem;
    left: 15rem;
    width: 5rem;
  }

  .tache-left {
    top: 13.5rem;
    left: 9rem;
    width: 5rem;
  }

  .horn-right {
    left: 17rem;
    width: 4rem;
  }

  .horn-left {
    top: 2.25rem;
    left: 6.5rem;
    width: 4rem;
  }

  .glasses {
    top: 9rem;
    left: 9.5rem;
    width: 9rem;
  }
}

/* ABOUT STYLES */

.about-text {
  margin-bottom: 3rem;
}

.about-skills {
  gap: 2rem;
  padding-bottom: 10rem;
}

.logo-box {
  width: 2.5rem;
}
.skills-logos {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.skills-list {
  margin-top: 2rem;
}

#more {
  display: none;
}

#read-more {
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.75rem;
}

.about::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -800px;
  height: 100px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.433), #0a242700);
  transform: skewY(-5deg);
}

@media only screen and (min-width: 800px) {
  .about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .about-text {
    width: 50%;
    padding-top: 0;
  }

  .about::after {
    bottom: -950px;
  }

  .about-skills {
    margin-top: -4rem;
    padding-bottom: 0;
  }

  .skills-logos {
    margin-top: 5rem;
    width: 30%;
    gap: 5rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  .logo-box {
    width: 4rem;
  }
}

@media only screen and (min-width: 1180px) {
  .about-container {
    gap: 6.5rem;
  }

  .skills-logos {
    width: 40%;
    gap: 4rem;
  }

  .logo-box {
    width: 5rem;
  }

  .logo-box:nth-child(1) {
    margin-top: 0px;
    margin-left: 50px;
    animation: float 6s ease-in-out infinite;
  }
  .logo-box:nth-child(2) {
    margin-top: 75px;
    animation: float 8s ease-in-out infinite;
  }
  .logo-box:nth-child(3) {
    margin-top: 20px;
    animation: float 4s ease-in-out infinite;
  }
  .logo-box:nth-child(4) {
    margin-top: 0px;
    animation: float 8s ease-in-out infinite;
  }
  .logo-box:nth-child(5) {
    margin-top: -75px;
    animation: float 6s ease-in-out infinite;
  }
  .logo-box:nth-child(6) {
    margin-top: -25px;
    animation: float 4s ease-in-out infinite;
  }
  .logo-box:nth-child(7) {
    margin-top: -50px;
    animation: float 6s ease-in-out infinite;
  }
  .logo-box:nth-child(8) {
    margin-top: -100px;
    animation: float 8s ease-in-out infinite;
  }
}

/* ABOUT ANIMATIONS */

#reveal {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#reveal.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

/* LOGO ANIMATIONS */

.logo-box {
  opacity: 0;
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.logo-box.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

@keyframes float {
  0% {
    filter: drop-shadow(5px 15px 10px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(25px 15px 10px rgba(0, 0, 0, 0.2));
    transform: translatey(-20px);
  }
  100% {
    filter: drop-shadow(5px 15px 10px rgba(0, 0, 0, 0.6));
    transform: translatey(0px);
  }
}

/* PROJECTS STYLES */

.projects h2 {
  text-align: left;
  /* margin-bottom: 10rem; */
}

.project-wrapper {
  margin: 0 auto;
}

.project {
  margin-bottom: 8rem;
  /* background-color: var(--off-white-color); */
  color: var(--off-white-color);
  border: 2px solid var(--off-white-color);
  align-items: center;
}

.projects video {
  width: 390px;
  border-radius: 10px;
}

.project-info {
  border-radius: 20px;
  padding: 2rem;
}

.project-info p {
  /* padding-bottom: 1rem; */
}

.project-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.icon {
  color: var(--off-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 3.5rem;
  border-radius: 10px;
  background-color: var(--green-color);
  border: 2px solid var(--off-white-color);
  cursor: pointer;
}

.icon:hover {
  background-color: #113d42;
}

.project-links i {
  color: var(--off-white-color);
}

@media only screen and (min-width: 800px) {
  .project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
  }

  .project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 100%;
    padding: 1rem;
    border-radius: 20px;
    padding-top: 8rem;
  }

  .project h3 {
    margin: 0;
  }

  .project:nth-child(1) {
    margin-top: 10rem;
  }

  .project:nth-child(2) {
    margin-top: -5rem;
  }

  .project:nth-child(3) {
    margin-top: 5rem;
  }

  .project:nth-child(4) {
    margin-top: -10rem;
  }

  .projects h2 {
    margin-top: 12rem;
    color: var(--green-color);
  }

  .projects video {
    position: absolute;
    top: -10rem;
    margin: 0 auto;
    width: 495px;
    height: 280px;
    border-radius: 10px;
    border: 2px solid var(--off-white-color);
  }
}

/* CONTACT STYLES */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.contact-wrapper h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}

.contact-wrapper form {
  width: 600px;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.input-box .input-field {
  width: 48.5%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid var(--off-white-color);
  outline: none;
  border-radius: 6px;
  color: var(--off-white-color);
  margin: 12px 0;
}

.field.error .item{
  border-color: var(--red-color);
}

.field .item::placeholder {
  color: #797979;
  font-family: "Libre Baskerville", sans-serif;
}

.field .error-text {
  font-size: 14.5px;
  color: var(--red-color);
  text-align: left;
  margin: -5px 0 10px;
  display: none;
}

.field.error .error-text{
  display: block;
}


form .textarea-field .item {
  resize: none;
}

form .textarea-field .error-text{
  margin-top: -10px;
}

form button {
  padding: 12px 32px;
  background-color: var(--off-white-color);
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px var(--off-white-color);
  color: var(--green-color);
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Libre Baskerville", sans-serif;
  transition: 0.3s;
}

form button:hover {
  box-shadow: none;
}
